<link rel="manifest" href="/manifest.json">
<div class="boxed boxed--border bg--secondary">
  <div class="container">

    <div class="row block1">
      <span class="col textData"><img src="assets/img/icon_32x32.png" alt="icone Wefaves" class="imgPlugin">Données synchronisées</span>
      <span class="col dropdown">
          <i class="icon glyphicon glyphicon-option-horizontal" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu" style="left:-80px;">
            <li><a href="#" (click)="save($event)" id="save"><i class="iconMenu glyphicon glyphicon-plus-sign"></i>Ajouter aux favoris</a></li>
            <li><a href="#" (click)="open($event)" id="webApp"><i class="iconMenu glyphicon glyphicon-new-window"></i> Ouvrir Wefaves</a></li>
            <li><a href="#" (click)="desconnect($event)" id="logOut"><i class="iconMenu glyphicon glyphicon glyphicon-off"></i> Déconnection</a></li>
          </ul>
        </span>

    </div>

  </div>
</div>

<div class="boxed boxed--border bg--secondary">
  <div class="container">
    <app-search></app-search>
  </div>
  <br>
</div>

<app-bookmarks></app-bookmarks>
<app-history></app-history>
<app-cookie></app-cookie>
