/* You can add global styles to this file, and also import other style files */
@import url(assets/css/font.css);

body {
  width: 300px;
  height: 140px;
  overflow: hidden;
}

.container { font-family: 'Proxima Nova'; }
.form-group { padding: 5% 3% 0% 3%; }
.dumpNode { color: #000000; }

#bookmarks {
  margin-left: -10%;
  font-size: 1em;
  color: #7DB249;
}

#signin { text-align: center; }
.urlLink { font-size: 0.9em; }

.favLink {
  padding-left: 10px;
  padding-right: 10px;
}

.alignSignin { width: 50%; }

/* New design */

.divCenter { text-align: center; }
.bg--secondary { background: #fafafa; }
.boxed {
  position: relative;
  padding: 1em 0em 0em 1em;
  margin-left: 2px;
  border-radius: 6px;
}
.boxed--border { border: 1px solid #ececec; }
.box-shadow { box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04); }
.tmp {
  left: -80px;
  z-index: 2000;
}
.imgPlugin {
  width: 7%;
  padding-right: 5px;
  margin-top: -5px;
}

.icon {
  float: right;
  margin-top: 3px;
  padding-right: 20px;
  font-size: 1.2em;
}
.iconMenu { padding-right: 6px; }
.block1 { padding-bottom: 14px; }

.suggestions { padding-top: 10px; }
